<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Projects/style.css' %}">
    <meta charset="UTF-8">
    <title>Employee Assigned</title>

    <style>
        body {
                color: black; /*req*/
                font-size: 19px;
                font-family: 'Dosis', sans-serif;
                background: white url("{%static 'Employees/images/error.jpg'%}");
                background-size: 100% 780px ;
            }
    </style>
</head>
<body>


            <nav class="n1">
                <ul>
                    <li class="l1"><a href="http://localhost:8000">Home</a></li>
                    <li class="l1"><a href="http://localhost:8000/employees">Employees</a></li>
                    <li class="l1"><a href="http://localhost:8000/projects">Projects</a></li>
                    <li class="l1"><a href="http://localhost:8000/match">Matching</a></li>
                    <li class="l1"><a href="http://localhost:8000/report">Reports</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="l1"><a href="http://localhost:8000/logout">Logout</a></li>
                    {% else %}
                        <li class="l1"><a href="http://localhost:8000/login">Sign in</a></li>
                    {% endif %}
                </ul>
            </nav>

<h1>Employee with this ID is assigned to another Project</h1>
</body>
</html>