<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Projects/style.css' %}">
    <meta charset="UTF-8">
    <title>Success</title>

    <style>
            body {
                color: #9b9494; /*req*/
                background: white url("{%static 'Employees/images/success.jpg'%}");
                background-size: 100% 750px;
            }

           h2 {
              margin-left: 20px;
              color: whitesmoke;
           }

        </style>
</head>
<body>

            <nav class="n1">
                <ul>
                    <li class="l1"><a href="http://localhost:8000">Home</a></li>
                    <li class="l1"><a href="http://localhost:8000/employees">Employees</a></li>
                    <li class="l1"><a href="http://localhost:8000/projects">Projects</a></li>
                    <li class="l1"><a href="http://localhost:8000/match">Matching</a></li>
                    <li class="l1"><a href="http://localhost:8000/report">Reports</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="l1"><a href="http://localhost:8000/logout">Logout</a></li>
                    {% else %}
                        <li class="l1"><a href="http://localhost:8000/login">Sign in</a></li>
                    {% endif %}
                </ul>
            </nav>


<h2>Done! Project Added Successfully</h2>
</body>
</html>