<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employees/style.css' %}">
    <meta charset="UTF-8">
    <title>Success</title>

    <style>
        body {
                color: black; /*req*/
                font-size: 19px;
                font-family: 'Dosis', sans-serif;
                background: white url("{%static 'Employees/images/success.jpg'%}");
                background-size: 100% 780px ;
            }
    </style>
</head>
<body>

            <nav>
                <ul>
                    <li><a href="http://localhost:8000">Home</a></li>
                    <li><a href="http://localhost:8000/employees">Employees</a></li>
                    <li><a href="http://localhost:8000/projects">Projects</a></li>
                    <li><a href="http://localhost:8000/match">Matching</a></li>
                    <li><a href="http://localhost:8000/report">Reports</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="http://localhost:8000/logout">Logout</a></li>
                    {% else %}
                        <li><a href="http://localhost:8000/login">Sign in</a></li>
                    {% endif %}
                </ul>
            </nav>


<h1>Employee Added Successfully</h1>


</body>
</html>